body {
  background-color: rgb(94, 6, 6);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; /* Centrar el contenido */
}

header {
  background-color: #910000; 
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Alinear el menú en el centro */
}

nav ul li {
  display: inline-block;
  margin: 0 15px; /* Espaciado horizontal */
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white; /* Color blanco para mayor contraste */
  font-size: 1.5em; /* Aumentar el tamaño de la fuente */
  font-weight: bold; /* Hacer el texto más grueso */
}

h1 {
  color: rgb(0, 0, 0); 
}

h2 {
  color: rgb(0, 0, 0); 
}

h3 {
  color: rgb(0, 0, 0); 
}

section {
  padding: 20px;
}

p {
  font-size: 1.1em;
  color: rgb(0, 0, 0);
}

img {
  max-width: 80%; 
  margin: 20px auto;
  display: block; 
}

iframe {
  display: block;
  margin: 20px auto;
}

aside {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: inline-block;
  width: 60%; 
}

footer {
  background-color: rgb(143, 0, 0); 
  color: white;
  padding: 10px 0;
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

table {
  width: 100%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid rgb(131, 0, 0);
  border-collapse: collapse;
  text-align: center;
  color: black;
}

th, td {
  padding: 10px;
}
