body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8d0000; /* Color de fondo */
}

header {
    background-color: #000000; /* Color de fondo del header */
    padding: 10px 0;
    text-align: center;
}

header .menu a {
    color: rgb(255, 0, 0); /* Color de los enlaces */
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 40px;
}

.intro, .mision, .vision {
    text-align: center;
    margin-bottom: 50px;
}

.intro h1, .mision h2, .vision h2 {
    font-size: 2em; /* Tamaño de fuente de los títulos */
    color: #000000; /* Color del texto */
}

.intro p, .mision p, .vision p {
    font-size: 1.2em; /* Tamaño de fuente del texto */
    color: #000000; /* Color del texto */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #070000; /* Color de fondo del footer */
    color: rgb(255, 0, 0); /* Color del texto del footer */
}
